@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #293c93;
    --foreground: #040000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

